@model ItalyForum.Models.Comment

@{
    ViewData["Title"] = "Create Comment";
}

<div class="container mt-4">
    <div class="container-header text-center mb-4">
        <h1>Create New Comment</h1>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="DiscussionId" value="@ViewBag.DiscussionId" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
<div class="text-center mt-3">
        <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@ViewBag.DiscussionId" class="btn btn-danger">Back to Discussion</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
